.aboutbox {
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  background: #000957;
  align-items: center;
  justify-content: space-around;
}
.aboutbox_left {
  width: 45%;
  height: 95%;
  display: flex;
  flex-direction: column;
  background: #577bc1;
}
.aboutbox_left_top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background: none;
  align-items: center;
  justify-content: center;
}
.aboutbox_left_bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background: none;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.aboutbox_right {
  width: 45%;
  height: 95%;
  display: flex;
  flex-direction: column;
  background: #577bc1;
}
.aboutbox_right_top {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  background: none;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.aboutbox_right_bottom {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  background: none;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.aboutbox_title {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  background: none;
  line-height: normal;
  letter-spacing: normal;
  word-wrap: normal;
  color: #efefef;
}
.aboutbox_text {
  font-family: "League Spartan", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: none;
  line-height: 15px;
  letter-spacing: normal;
  word-wrap: normal;
  color: black;
  padding-left: 3px;
  padding-right: 3px;
}
.aboutbox_list {
  background: none;
  list-style-type: circle;
}
.aboutbox_list_item {
  font-family: "League Spartan", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: none;
  line-height: 20px;
  letter-spacing: normal;
  word-wrap: normal;
  color: black;
  background: none;
}
.aboutbox_link {
  color: #ebe645;
  font-size: 14.5px;
  cursor: pointer;
}
.aboutbox_img {
  background: url("../img/background_about.jpg");
  width: 80%;
  height: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: 4px solid #344cb7;
}
.aboutbox_head {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  background: none;
  line-height: normal;
  letter-spacing: double;
  word-wrap: normal;
  color: #efefef;
  margin-left: 25px;
}
.aboutbox_head:hover {
  color: #d89216;
}

#aboutModal {
  border: 4px double white;
  border-radius: 40px;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  background: none;
  color: none;
}
#aboutModal_body {
  width: 65vw;
  height: 65vh;
  display: flex;
  flex-direction: row;
  background: black;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: none;
  color: none;
}
#aboutModal_header {
  width: 65vw;
  height: 5vw;
  background: #2c061f;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border: none;
}

#bigbox {
  background: none;
  color: none;
  border: none;
}

.footerbox {
  width: 100vw;
  height: 10vh;
  display: flex;
  background: #2c061f;
  align-items: center;
  justify-content: center;
}
.footerbox_inner {
  width: 95%;
  height: 70%;
  display: flex;
  background: #374045;
  justify-content: center;
  align-items: center;
}
.footerbox_text {
  background: none;
  width: 85%;
  height: 100%;
  align-items: center;
  text-align: left;
  justify-content: center;
}
.footerbox_font {
  margin-top: 14px;
  background: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
}

#aboutbutton {
  background: #efefef;
  border: 2px solid #d89216;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  width: 140px;
  color: #2c061f;
  cursor: pointer;
}

#aboutbutton:hover {
  background: #2c061f;
  color: white;
}

.bodybox {
  width: 100vw;
  height: 75vh;
  background: #e1d89f;
  display: flex;
  flex-direction: row;
}

.cardbox {
  width: 100%;
  height: 100%;
  background: none;
  display: flex;
  flex-direction: row;
}
.cardbox_content {
  width: 100%;
  height: 100%;
  background: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  width: 28%;
  height: 31vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: none;
  border: none;
}
.card-body {
  width: 100%;
  height: 21vh;
  display: flex;
  flex-direction: column;
  background: #d89216;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 20px;
}
.card-body-titlebox {
  display: flex;
  background: #374045;
  width: 100%;
  height: 7vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  padding-top: 5px;
}
.card-body-horizontalbox {
  display: flex;
  flex-direction: row;
  background: none;
  width: 100%;
  height: 14vh;
  align-items: center;
  justify-content: center;
}
.card-body-textbox {
  display: flex;
  flex-direction: column;
  background: none;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
}
.card-body-buttonbox {
  display: flex;
  flex-direction: column;
  background: none;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.card-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 500;
  background: none;
  padding: 3px;
  text-overflow: ellipsis;
}
.card-title:hover {
  color: #ebe645;
  font-weight: 700;
}
.card-text {
  font-family: "League Spartan", sans-serif;
  font-size: 17px;
  font-weight: 500;
  background: none;
  color: #2c061f;
  text-overflow: ellipsis;
}

.card-img-top {
  max-width: 10vw;
  max-height: 10vh;
  background-size: auto;
  padding: 5px;
  border-top-left-radius: 20px;
}

.img-container {
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  background: #2c061f;
  border-top-right-radius: 50px;
  border-top-left-radius: 20px;
}

#buttonbody {
  background: #344cb7;
  border: 2px solid #ebe645;
  border-radius: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.5px;
  width: 140px;
  cursor: pointer;
}

#buttonbody:hover {
  background: #ebe645;
  border: 2px solid #efefef;
  color: black;
}

.welcomemessage {
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #efefef;
  border-radius: 20px;
  border: 4px double #e1d89f;
}
.welcomemessage_title {
  width: 100%;
  height: 20%;
  background: #d89216;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid #e1d89f;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}
.welcomemessage_title_text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 23px;
  font-weight: 550;
  background: none;
  letter-spacing: normal;
  color: #efefef;
}
.welcomemessage_title_text:hover {
  font-size: 24px;
  color: #ebe645;
}
.welcomemessage_textbox {
  width: 100%;
  height: 80%;
  background: none;
  text-align: center;
  text-justify: space-around;
}
.welcomemessage_textbox_text {
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background: none;
  color: #2c061f;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 100vw;
  background: #2c061f;
  align-items: center;
  justify-content: center;
}
.navbar_top {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  background: none;
  align-items: center;
  justify-content: center;
}
.navbar_top_main {
  width: 70%;
  height: 100%;
  display: flex;
  background: #374045;
  align-items: center;
  justify-content: space-evenly;
  border-top-left-radius: 30px;
}
.navbar_top_button {
  width: 30%;
  height: 100%;
  display: flex;
  background: #000957;
  align-items: center;
  justify-content: space-evenly;
  border-top-right-radius: 30px;
}
.navbar_search {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  background: #d89216;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.navbar_search_box {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: row;
  background: none;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}
.navbar_search_spanner {
  width: 20%;
  background: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
}
.navbar_search_inputtyper {
  width: 80%;
  height: 100%;
  background: #2c061f;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  border: 2px solid #577bc1;
}
.navbar_search_country {
  width: 30%;
  height: 100%;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.navbar_search_topic {
  width: 30%;
  height: 100%;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar_search_text {
  background: none;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #2c061f;
  margin-top: 22.5px;
}
.navbar_search_text:hover {
  font-size: 22px;
  color: white;
}

.title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: normal;
  background: #2c061f;
  padding: 8px;
  border-radius: 10px;
  margin-right: 35vw;
  cursor: pointer;
}

.title:hover {
  background: #ebe645;
  color: #000957;
  font-size: 38px;
}

.logo {
  width: 50px;
  height: 50px;
  background: url("../img/newspaper.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(100);
}

.link {
  width: auto;
  height: auto;
  background: #efefef;
  color: #2c061f;
  font-family: "League Spartan", sans-serif;
  font-size: larger;
  letter-spacing: normal;
  line-height: auto;
}
.link_menu {
  list-style-type: none;
  height: fit-content;
}

#buttonheader {
  background: #344cb7;
  border: 2px solid #ebe645;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  width: 140px;
  cursor: pointer;
}

#buttonheader:hover {
  background: #ebe645;
  border: 2px solid #efefef;
  color: black;
}

#buttonheader2 {
  background: #344cb7;
  border: 2px solid #ebe645;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  width: 140px;
}

#buttonheader2:hover {
  background: #ebe645;
  border: 2px solid #efefef;
  color: #000957;
}

.body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
  background: #577bc1;
  align-items: center;
  justify-content: center;
}
.body_picbox {
  display: flex;
  width: 50%;
  height: 90%;
  background: #344cb7;
  align-items: center;
  justify-content: center;
}
.body_picbox_image {
  max-width: 80%;
  max-height: 80%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.body_textbox {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90%;
  background: #344cb7;
  align-items: center;
  justify-content: center;
}
.body_textbox_titles {
  display: flex;
  width: 100%;
  height: 20%;
  background: none;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  color: black;
  padding: 10px;
}
.body_textbox_titles_text {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  background: none;
  line-height: normal;
  letter-spacing: normal;
  word-wrap: normal;
  color: #efefef;
  max-width: 70%;
  text-overflow: ellipsis;
}
.body_textbox_body {
  display: flex;
  width: 100%;
  height: 80%;
  background: none;
  align-items: center;
  text-align: left;
  text-overflow: ellipsis;
  justify-content: center;
}
.body_textbox_body_text {
  font-family: "League Spartan", sans-serif;
  font-size: 17px;
  font-weight: 500;
  background: none;
  line-height: 18px;
  letter-spacing: normal;
  word-wrap: normal;
  color: black;
  text-overflow: ellipsis;
}

.modal-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  width: fit-content;
  letter-spacing: normal;
  background: none;
}

.modal-source {
  font-family: "Source Sans Pro", sans-serif;
  width: fit-content;
  font-size: 20px;
  letter-spacing: normal;
  background: none;
  color: #ebe645;
  margin-left: 12vw;
}

#modalHead {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

#modalButton, #modalClose {
  background: #577bc1;
  color: #efefef;
  border: 2px solid #ebe645;
}

#modalButton:hover, #modalClose:hover {
  background: #ebe645;
  border: 2px solid #efefef;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: black;
  color: White;
}

html {
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 200vh;
  background: grey;
  color: white;
}

a {
  color: #2c061f;
}