@import "var";

// screen setup--------------------------------------------------------------------------------------------
.bodybox{
width: 100vw;
height:75vh;
background: $mainlight;
display: flex;
flex-direction: row;
}

.cardbox{
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
flex-direction: row;
    &_content{
        width: 100%;
        height: 100%;
        background: none;
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    }
}

// card classes-----------------------------------------------------------------------------------

.card{
    width: 28%;
    height: 31vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: none;
    border: none;
    
        &-body{
        width: 100%;
        height: 21vh;
        display: flex;
        flex-direction: column;
        background: $mainorange;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 20px;
        &-titlebox{
            display: flex;
            background: $mainmed;
            width: 100%;
            height: 7vh;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 15px; 
            padding-top: 5px;

        }
        &-horizontalbox{
            display: flex;
            flex-direction: row;
            background: none;
            width: 100%;
            height: 14vh;
            align-items: center;
            justify-content: center;            
        }
        &-textbox{
            display: flex;
            flex-direction: column;
            background: none;
            width: 50%;
            height: 100%;
            align-items: center;
            justify-content: center;
            text-align: left; 
            margin-top: 10px;
            


        }
        &-buttonbox{
            display: flex;
            flex-direction: column;
            background: none;
            width: 50%;
            height: 100%;
            align-items: center;
            justify-content: center;
              

        }

        }
        &-title{
            font-family: $fontextras;
            font-size: 17px;  
            font-weight: 500;
            background: none; 
            padding: 3px; 
            text-overflow: ellipsis;
     

        }
        &-title:hover{
            color: $elementalert;
            font-weight: 700;
        }
        &-text{
            font-family: $fontbody;
            font-size: 17px;
            font-weight: 500;
            background: none;
            color: $maindark;
            text-overflow: ellipsis;
            

        }
}
.card-img-top{
    max-width: 10vw;
    max-height: 10vh;
    background-size: auto;
    padding: 5px;
    border-top-left-radius: 20px;

}
.img-container{
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background: $maindark;
    border-top-right-radius: 50px;
    border-top-left-radius: 20px;
}

#buttonbody{
    background: $elementmed;
    border: 2px solid $elementalert;
    border-radius: 15px;
    font-family: $fontextras;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.5px;
    width: 140px;  
    cursor: pointer;
}
#buttonbody:hover{
    background: $elementalert;
    border: 2px solid $mainoffwhite;
    color: black;  
}

// welcome screen message-----------------------------------------------------------------------------------------


.welcomemessage{
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $mainoffwhite;
    border-radius: 20px;
    border: 4px double $mainlight;
    &_title{
        width: 100%;
        height: 20%;
        background: $mainorange;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 2px solid $mainlight;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
        &_text{
            font-family: $fontextras;
            font-size: 23px;
            font-weight: 550;
            background: none;
            letter-spacing: normal;
            color: $mainoffwhite;
        }
        &_text:hover{
            font-size: 24px;
            color: $elementalert;;
        }
    }
    &_textbox{
        width: 100%;
        height: 80%;
        background: none;
        text-align: center;
        text-justify: space-around;
        &_text{
            
            font-family: $fontbody;
            font-size: 18px;
            font-weight: 500;
            background: none;
            color: $maindark;
        }
    }
}